.home-container {
  display: flex;
  justify-content: space-evenly;
  font-family: "Orbitron";
}

.menu {
  z-index: 5;
  font-weight: 600;
  font-size: 2.5rem;
  text-decoration: none;
  position: absolute;
  top: 65%;
}

.menu:visited,
.menu:active,
.menu:link {
  color: black;
}

.menu:hover {
  color: brown;
}
